/* Defaults */

body {
background-color: white;
font-family: 'Ubuntu', sans-serif;

}

section {
  border-top: 1px solid #ddd;
}



/* typography */


/* Button styles */
.button {
background: #8AC06E;
border: 1px solid #8AC06E;
padding: 10px 15px;
color: white;
text-decoration: none;

}

.button:hover {

background: #6eaf4c;
color: #fff;
}






/* footer */
footer{
  background: #2e3234;
  color: white;
  font-size: 17px;
  width: 100%;
  padding: 100px 0 60px 0;


}
