/* Base Styles */
html {
/*overflow-x: hidden;*/

}

body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
  }

ul, ol, li {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    max-width: 721px;
    list-style-type: none;
}

section {
    border-top: 1px solid #ddd;

}

/* typography */

h1 {
  color: lightgrey;
}

h3{
    padding: 0 15px;
}
p {
    color:#999;

    padding: 0px 15px;
}
li {
    margin: 0 0 15px;
}

/* === Nav  === */

nav{
    padding: 0px 0 0px 0;
    margin: 0 0 0 0;
}

.main-logo {
  font-size: 1.5em;
    padding-left:15px;
    text-align: left;
    margin-top: -125px;
    margin-bottom: 120px;

}

/* === Header Section === */

header{
  text-align: center;
  padding: 150px 15px 200px 15px;
  background-image: -webkit-linear-gradient(315deg, #1C5775, #614182);
  background-image: linear-gradient(135deg, #1C5775, #614182);
}

.underline {
      border-bottom: 3px solid #8AC06E;
}

/* === Categories section === */

.categories{
    text-align: left;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.categories-list {
    list-style: none;
    margin: 0px;
    color: red;
    }


/* moves p text closer to the h3  */
h3 + p {
  margin-top: 0px;
}

li > h3 {
  margin-bottom: 10px;

}

.sectionheader {
  background-image: -webkit-linear-gradient(315deg, #1C5775, #614182);
  background-image: linear-gradient(135deg, #1C5775, #614182);border-radius: 0;
color: lightgrey;
text-align: center;
padding-top: 10px;
padding-bottom: 25px;
margin-bottom: 55px;
}

.sectionheader p {

  color: lightgrey;
}




/* === sites section === */


.sectiontitle {
      padding: 0px px;
}
  .section-des {
      color: #4B5658;
      font-size: 16px;
  }

ul:last-child {
  margin-bottom: 55px;
}





/* === addsite section === */
.addsite{
    padding: 25px 25px
}
  .addsite h3 {
      text-align: center;
  }
  .addsite p {
      text-align: center;
      margin-top: 25px;
  }


/* === link styles === */

/* unvisited link */
a:link {
    color: #1481e3;
}
/* visited link */
a:visited {
    color: #1857A6;
}
/* mouse over link */
a:hover {
      color: #1857A6;
}
/* selected link */
a:active {
      color: #1857A6;
}


/* Button styles */
.button {
    background: #8AC06E;
    border: 1px solid #8AC06E;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
  .button:hover {
        background: #6eaf4c;
        color: #fff;
        border: 1px solid #6eaf4c;
  }
  .button:visited {
        color: white;
  }
  .button:link {
        color: white;
  }

/* footer */
footer{
  background: #2e3234;
  color: white;
  font-size: 17px;
  padding: 75px 15px 60px 15px;
  text-align: center;

}

/* ======== float clearfix ======= */

.group::after {
  content: "";
  display: table;
  clear:both;

}


/* ======== media Queries ======= */

@media (min-width: 769px)
{
  .categories-list {
      padding: 75px 0 75px 0;
      margin: 0px;
      float:left;
      width:33.3%;
      }

.card {

  max-width: 100%;

  content: "";
  display: table;
  clear:both;
}

.card li   {
    width: 18%;
    display: block;
    float: left;
    margin-right: 0.75%;
    margin-left: 0.75%;
    text-align: center;
    padding: 15px 10px 15px 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    position: relative;
    min-height: 270px;
    max-height: 270px;
    margin-top: 35px;
    clear: right;
    overflow-y: scroll;
}

.logo {
  display: inline-block;
  position: relative;
  max-width: 120px;
  min-height: 47px;
  overflow: hidden;
  margin-top: 15px;

}

}
